@font-face {
    font-family: 'roboto_medium_regular';
    src: url('../webfonts/roboto-medium-webfont.woff2') format('woff2'), url('../webfonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed_light';
    src: url('../webfonts/robotocondensed-light-webfont.woff2') format('woff2'), url('../webfonts/robotocondensed-light-webfont.woff') format('woff'), url('../webfonts/robotocondensed-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed_regular';
    src: url('../webfonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../webfonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

body {
    margin: 0;
    padding: 0;
    background: url(../assets/fondoDegradado1.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}

p {
    margin-top: 60px;
    text-align: center;
    font-family: 'roboto_condensed_light';
    font-size: 15px;
    font-weight: bold;
}

.login {
    width: 320px;
    height: 430px;
    background: rgb(253, 253, 253);
    color: rgb(10, 10, 10);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 30px;
    border-color: rgb(54, 46, 46);
    border-radius: 3%;
}

.login .imalogin {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: calc(50% - 40px);
}

.label-usuario {
    position: absolute;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'roboto_condensed_light';
    color: rgb(122, 129, 136);
}

#input-usuario {
    width: 100%;
    padding: 8px 0px;
    border-style: none;
    outline: 0px;
    border-bottom: 1px solid #e2e2e2;
    font-family: 'roboto_condensed_light';
    font-size: 16px;
}

#input-usuario:focus {
    border-bottom: 2px solid #ea5600;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    padding: 8px 0px;
}

.label-password {
    display: block;
    position: absolute;
    margin-top: 55px;
    font-size: 16px;
    font-family: 'roboto_condensed_light';
    color: rgb(122, 129, 136);
}

#input-password {
    width: 100%;
    padding: 10px;
    border-style: none;
    outline: 0px;
    border-bottom: 1px solid #e2e2e2;
    font-family: 'roboto_condensed_light';
    font-size: 16px;
}

#input-password:focus {
    border-bottom: 2px solid #ea5600;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.input-usuario {
    margin-top: 20px;
}

.input-password {
    margin-top: 40px;
}

.input-btn {
    margin-top: 30px;
    width: 250px;
    padding: 8px;
    height: 45px;
    margin-left: 5px;
    margin-right: 15px;
    font-family: 'roboto_condensed_light';
    font-weight: bold;
    font-size: 16px;
    background-color: #676ca0;
    border-radius: 5px;
    border-style: none;
    color: rgb(3, 3, 3);
}

.input-btn:hover {
    background-color: #30165f;
    border-radius: 5px;
    transition: 400ms;
    color: white;
}

@media (max-width: 300px) {
    .login {
        width: 85%;
        height: 70%;
    }
    .input-btn {
        width: 90%;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}